<!doctype html>
<head>
    <title>Sauvegardes et images disque</title>
    <link rel="stylesheet" href="./static/styles.css">
</head>

<body>
    <h1>Gestion des sauvegardes et images disque</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('main') }}">Accueil</a></li>
            <li><a href="{{ url_for('configuration') }}">Configuration</a></li>
            <li><a href="{{ url_for('new_save') }}">Inclure une sauvegarde au suivi</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
</body>