{% extends "base.html" %}


{% block content %}
    <div>
    {% if drives %}
      <h2>Liste des disques durs autorisés: </h2>
      <p hidden>fc = {{drives|tojson|safe}}</p>
      <table>
      {% for drive in drives %}
      <tr>
          <td>{{ drive.serial_no }}</td>
          <td><button>Supprimer</button></td>
      </tr>
      {% endfor %}
      </table>
    {% else %}
      Aucun disque autorisé
    {% endif %}
    </div>
    <div>
        <form method="POST">
            {{ form.csrf_token }}
            <table>
                <tr>
                    <td>{{ form.serial_no(size=24) }}</td>
                    <td>{{ form.submit() }}</td>
                </tr>
            </table>
        </form>

        <button>Rechercher les périphériques branchés</button>
    </div>
{% endblock %}