{% extends "base.html" %}


{% block content %}
    <div>
    {% if drives %}
      <h2>Liste des disques durs autorisés: </h2>
      <p hidden>fc = {{drives|tojson|safe}}</p>
      <table>
      {% for drive in drives %}
      <tr>
          <td>{{ drive.serial_no }}</td>
          <td><button>Supprimer</button></td>
      </tr>
      {% endfor %}
      </table>
    {% else %}
      Aucun disque autorisé
    {% endif %}
    </div>
    <div>
        <form method="POST" action="/adddrive">
            {{ addForm.csrf_token }}
            <table>
                <tr>
                    <td>{{ addForm.serial_no(size=24) }}</td>
                    <td>{{ addForm.submit() }}</td>
                </tr>
            </table>
        </form>

        <form method="POST" action="/deldrive">
            {{ delForm.csrf_token }}
            <table>
                <tr>
                    <td>{{ delForm.serial_no(size=24) }}</td>
                    <td>{{ delForm.submit() }}</td>
                </tr>
            </table>
        </form>

        <form method="POST" action="/scandrives">
            <input type="submit" value="Rechercher les périphériques branchés">
        </form>
        <table>
            {% for peripheral in connected_peripherals %}
            <tr>
                <td>{{ peripheral }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}